html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $title;
    background-color: #fff;
}

.main {
    padding-top: 145px;
    flex-grow: 1;

    @include r(1200) {
        padding-top: 80px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &--big {
        max-width: 1800px;
    }
}

.title {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: $title;
    text-align: center;
}

.title-rubik {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.btn-circle,
.btn-square {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-square {
    border-radius: 0;
}

.btn {
    position: relative;
    display: block;
    padding: 19px 20px;
    font-size: 15px;
    color: #fff;
    background-color: $accent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: transparent;

    &:hover {
        background-color: #ffa500;
        color: #000;

        @include r(1024) {
            background-color: $accent;
            color: #fff;
        }
    }

    &:active {
        background-color: $second;
        color: #eee;
        top: 1px;
    }

    &:focus {
        background-color: $second;
        color: #eee;
    }
}

.overlay {
    display: none;

    &--active {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
    }
}


.lock {
    overflow: hidden;

    @include r(1024) {}
}