@mixin line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin r($width) {
    @media only screen and (max-width: $width+ "px") {
        @content;
    }
}

@mixin rmin($width) {
    @media only screen and (min-width: $width+ "px") {
        @content;
    }
}