$accent: #a3bbc8;
$title: #191919;
$text: #243f4d;
$bisque: #fcd7b6;
$second: #7b7b7b;
$footer-lead: #1F2044;
$secondary-link: #436372;
$orange: #ffa500;
$card-text: #262626;
$green-light: #49f1c0;
$red: #ff0000;
$about-bg: #edf1f4;

%title-rubik {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

%link {
    font-size: 14px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 2.3;
    color: $second;
    transition: color 0.3s ease;

    &:hover {
        color: #000;

        @media (max-width: 992px) {
            color: inherit;
        }
    }
}

%checkbox-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}