.bottom-slider {
    background-color: rgba($bisque, 0.2);
    margin-top: -9%;

    &__carousel {
        padding: 260px 0 90px;
        margin-bottom: 95px;
    }

    &__img {
        max-width: 160px;
        max-height: 80px;
        object-fit: contain;
    }


    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        display: flex;
        justify-content: center;
    }
}