.bottom-slider {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background-color: rgba($bisque, 0.2);
        max-height: 435px;
        height: 165%;
        width: 100%;
        top: -62%;

        @include r(992) {
            top: 0;
            height: 100%;
        }
    }

    &__carousel {
        padding: 90px 0;
        margin-bottom: 95px;

        @include r(992) {
            margin-top: 0;
            padding: 50px 0;
        }
    }

    &__img {
        max-width: 160px;
        max-height: 80px;
        object-fit: contain;
    }


    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        display: flex;
        justify-content: center;
    }
}