.catalog {
    padding: 120px 0;

    @include r(992) {
        padding: 80px 0;
    }

    @include r(767) {
        padding: 60px 0;
    }

    &__inner {
        position: relative;
        display: flex;
    }
}

.filter {
    max-width: 270px;
    width: 100%;

    &__close {
        display: none;
    }

    @include r(1200) {
        position: fixed;
        max-width: 320px;
        z-index: 100;
        left: -200%;
        top: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        padding: 20px;
        background-color: #fff;
        overflow: auto;
        transition: all 0.6s ease;

        &--active {
            left: 0;
            visibility: visible;
        }

        &__close {
            position: absolute;
            right: 20px;
            top: 20px;
            display: block;
            width: 20px;
            height: 20px;
            padding: 0;
            background-color: transparent;
            border: none;
            outline: transparent;
            cursor: pointer;

            &:after,
            &:before {
                content: '';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 2px;
                background-color: #000;
                transition: background-color 0.3s ease;
            }

            &:after {
                content: '';
                transform: rotate(45deg)
            }

            &:before {
                content: '';
                transform: rotate(-45deg)
            }

            &:hover {

                &:after,
                &:before {
                    background-color: $accent;

                    @include r(992) {
                        background-color: #000;
                    }
                }
            }

        }
    }

    @include r(575) {
        max-width: 100%;
    }

    &__lead {
        @extend %heading;
    }
}

.filter-category {
    margin-bottom: 60px;

    &__link {
        position: relative;
        display: block;
        padding: 15px 25px 15px 15px;
        font-weight: 400;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba($accent, 0.2);

            @include r(992) {
                background-color: #fff;
            }
        }

        &:active {
            background-color: rgba($accent, 0.2);
        }

        &:after {
            content: '>';
            position: absolute;
            right: 25px;
        }
    }
}

.filter-price {
    margin-bottom: 60px;

    &__cost {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        top: -3px;
    }

    &__to {
        padding-right: 10px;
    }

    .irs--flat .irs-line {
        top: 7px;
        height: 3px;
        background-color: rgba($accent, 0.66);
        border-radius: 0;
    }

    .irs--flat .irs-bar {
        top: 6px;
        height: 5px;
        background-color: $accent;
    }

    .irs--flat .irs-handle {
        top: 0;
        width: 15px;
        height: 15px;
        background-color: $accent;
        cursor: pointer;
    }

    .irs--flat .irs-handle>i:first-child,
    .irs--flat .irs-min,
    .irs--flat .irs-max,
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
        display: none;
    }
}

.filter-brand {
    margin-bottom: 60px;

    &__form {
        font-weight: 400;
    }

    &__label {
        cursor: pointer;

    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-brand__checkbox {
            background-color: rgba($accent, 0.2);
        }
    }

    &__checkbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @extend %trigger;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba($accent, 0.2);

            @include r(992) {
                background-color: #fff;
            }
        }
    }
}

.filter-recent {

    &__item {
        display: flex;
        margin-bottom: 20px;
    }

    &__image {
        width: 70px;
        height: 70px;
        border: 2px solid rgba($accent, 0.2);
        position: relative;
    }

    &__link-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__picture {
        width: 55px;
        height: 60px;
        object-fit: contain;
    }

    &__content {
        max-width: 120px;
        padding-left: 15px;
        font-size: 15px;
        font-weight: 400;
    }

    &__link {
        transition: color 0.3s ease;

        &:hover {
            color: $accent;
        }
    }

    &__heading {
        display: inline-block;
        margin-bottom: 5px;
    }

    &__link {
        @include line-clamp;
    }

    .star {
        margin-bottom: 10px;
        padding: 0;

        svg:not(:last-child) {
            margin-right: 5px;
        }
    }

}

.catalog-box {
    width: 100%;
    padding-left: 30px;

    @include r(1200) {
        padding-left: 0;
    }

    &__filter {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        @include r(575) {
            display: none;
        }
    }

    &__filter-descr {
        margin-right: 10px;
    }

    &__filter-btn {
        margin-right: 10px;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: transparent;
        line-height: 1;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &--active {
            .catalog-box__filter-icon {
                fill: $card-title;
            }
        }

        &:hover {
            color: $orange;
        }
    }

    &__filter-icon {
        transition: fill 0.3s ease;
        fill: $accent;

        &:hover {
            fill: $orange;
        }
    }

    &__trigger {
        width: 100%;
    }

    &__btn {
        position: relative;
        display: none;
        margin-bottom: 30px;
        border-radius: 5px;
        width: 100%;
        color: #000;

        span {
            padding-left: 10px;
            color: #000;
        }

        @include r(1200) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:active {
            top: 0;
        }

    }

    &__icon {
        line-height: 1;
    }

    &__inner {
        margin-bottom: 120px;

        @include r(575) {
            display: none;
        }
    }

    .mobile-view {
        display: none;

        @include r(575) {
            display: block;

            .catalog-box__item {
                position: relative;
                margin-bottom: 40px;

                &:nth-child(n) {
                    display: block;
                }
            }
        }
    }

    &__items {
        display: grid;
        grid-template: repeat(3, 380px) / repeat(3, 270px);
        grid-auto-rows: 380px;
        gap: 40px 30px;

        @include r(1200) {
            justify-content: space-around;
        }

        @include r(992) {
            justify-content: center;
            grid-template: auto / repeat(2, 1fr);
        }

        @include r(575) {
            grid-template-columns: auto;
        }

    }

    .product-card {
        @include r(992) {
            max-width: 100%;
        }

        &__link-box {
            @include r(1024) {
                opacity: 1;
            }
        }
    }

}

.catalog__slider {
    &:before {
        top: 0;
        height: 100%;
    }
}

.list-view {

    .catalog-box__items {
        display: block;
    }

    .catalog-box__item {
        position: relative;
        margin-bottom: 40px;

        &:nth-child(n + 5) {
            display: none;
        }
    }

    .product-card {
        position: relative;
        display: block;
        padding: 0;
        max-width: 370px;
        height: 500px;
        box-shadow: unset;
        border: 2px solid rgba($accent, 0.2);
        border-radius: 0;

        @include r(767) {
            height: auto;
            max-width: 100%;
        }

        .btn-circle {
            border-radius: unset;
        }

        &__item {
            &:nth-child(1) {
                display: none;
            }
        }

        &__link {
            box-shadow: 0px 6px 47px 3px rgba($accent, 0.2);
        }

        &__link-box {
            opacity: 1;
            position: static;
            transform: unset;
        }

        &__image {
            display: block;
            margin-bottom: 0;
            padding: 80px 20px 70px;

            @include r(767) {
                padding: 20px;
            }
        }

        &__picture {
            width: 323px;
            height: 338px;

            @include r(767) {
                margin: 0 auto;
            }

            @include r(575) {
                width: 270px;
                height: 206px;
            }
        }

        &__content {
            position: absolute;
            right: -130%;
            top: 20%;
            max-width: 420px;
            text-align: left;

            @include r(992) {
                right: -100%;
                max-width: 315px;
            }

            @include r(767) {
                position: static;
                max-width: 100%;
                padding: 0 15px;
                margin-bottom: 15px;
            }
        }

        &__name {
            padding: 0;
            font-weight: 400;
            font-size: 40px;
            text-align: left;

            @include r(575) {
                font-size: 36px;
            }
        }

        &__star {
            display: block;
            margin-bottom: 20px;
            padding: 0;

            svg {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        &__price {
            display: inline-block;
            margin-bottom: 30px;
            padding: 0;
            font-size: 30px;

            @include r(575) {
                margin-bottom: 20px;
            }
        }

        &__descr {
            margin-bottom: 40px;
            font-weight: 400;
            color: $text;
            @include line-clamp;
            -webkit-line-clamp: 4;
        }

    }
}