.design {
    margin-bottom: 105px;

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        gap: 35px 30px;

        @include r(1200) {
            grid-template-columns: repeat(2, 370px);
            justify-content: center;
        }

        @include r(1024) {
            grid-template-columns: repeat(2, 354px);
        }

        @include r(767) {
            grid-template-columns: repeat(1, 370px);
        }

        @include r(575) {
            grid-template-columns: repeat(1, 290px);
        }
    }

}

.design-card {
    position: relative;
    background-color: #f8f8f8;
    overflow: hidden;
    border-radius: 5px;
    max-width: 370px;
    height: 250px;

    &__content {
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        position: relative;
        z-index: 2;
        padding: 30px 0 0 35px;
    }

    &__lead {
        max-width: 175px;
        font-size: 20px;
        @include line-clamp;
    }

    &__descr {
        color: $accent;
        max-width: 90px;
        display: block;
    }

    &__img {
        position: absolute;
        z-index: 1;
        bottom: 20%;
        right: 0;
    }

    &__picture {
        max-width: 270px;
        object-fit: contain;
    }

    &__link {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: inset 0 0 1px 10px $secondary-link;

            @include r(1024) {
                box-shadow: none;
            }
        }
    }
}