.features {
    background-color: #fef7f0;

    .Rectangle_1 {
        background-color: rgba($bisque, 0.2);
        opacity: 0.2;
        position: absolute;
        left: 75px;
        top: 963px;
        width: 1770px;
        height: 171px;
        z-index: 204;
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 33.333%;
        min-height: 170px;

        &--line-vertical {
            border-left: 1px solid rgba($text, 0.1);
            border-right: 1px solid rgba($text, 0.1);
        }
    }

    &__content {
        position: relative;
        max-width: 215px;
        margin: 0 auto;
        padding: 15px 0;
    }

    &__icon {
        position: absolute;
        display: inline-block;
        left: -35%;
        fill: $accent;
    }

    &__lead {
        font-size: 18px;
        color: #414141;
        @include line-clamp;
    }

    &__descr {
        font-family: 'DMSans', sans-serif;
        font-weight: 400;
        line-height: 1.9;
        color: #585858;
        @include line-clamp;
        -webkit-line-clamp: 3;

        &--width--long {
            max-width: 215px;
        }
    }
}