.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: #fff;
    padding: 50px 0 45px;

    @include r(1200) {
        padding: 20px 0;
    }

    @include r(1200) {
        padding: 20px 0 10px;
    }
}

.header__logo {
    &__img {
        object-fit: contain;
    }

    @include r(1024) {
        margin-bottom: 10px;
    }

    @include r(575) {
        display: none;
    }
}

.menu {
    display: flex;
    justify-content: space-between;

    @include r(575) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;

        @include r(1024) {
            transform: translateX(-200%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            background-color: #2a3140;
            margin-right: 0;
            transition: transform 0.5s ease;
        }

        &--active {
            transform: translateX(0);
            z-index: 2;
        }
    }

    &__item {
        margin-right: 33px;

        &:last-child {
            margin-right: 0;
        }

        @include r(1200) {
            margin-right: 25px;
        }

        @include r(1024) {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        font-size: 15px;
        color: $secondary-link;
        transition: color 0.3s ease;

        &:hover {
            color: $accent;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }

        @include r(1024) {
            padding: 12px 0;
            font-size: 22px;
            color: #fff;
            text-align: center;

            &:hover {
                color: #fff;
            }
        }
    }
}

.user {
    display: flex;

    @include r(575) {
        order: 1;
    }

    &__btn {
        margin-right: 18px;
        position: relative;
        height: 50px;
        width: 50px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: $accent;
        outline: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease;
        z-index: 5;

        &--opacity {
            background-color: rgba($accent, 0.2);

            @include r(1024) {
                z-index: 0;
            }

        }

        &:last-child {
            margin-right: 0;
        }

        @include r(1024) {
            margin-right: 10px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 50px;
        background-color: $bisque;
        transition: background-color 0.3s ease;

        @include r(1024) {
            z-index: 0;
        }

        &--heart {
            position: relative;
            border-radius: 25px 0 0 25px;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 32px;
                background-color: rgba(#fff, 0.4);
            }
        }

        &--cart {
            margin-right: 18px;
            border-radius: 0 25px 25px 0;

            @include r(1024) {
                margin-right: 10px;
            }
        }

    }

    &__icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $text;

        &--color-white {
            fill: #fff;
        }
    }

    &__num {
        position: absolute;
        left: 63%;
        top: 20%;
        transform: translate(-63%, -20%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 16px;
        font-family: 'DMSans', sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 2.7;
        border-radius: 50%;
        background-color: #fff;
    }

    &__btn:focus,
    &__link:focus {
        background-color: $green-light;
    }

    &__btn:hover,
    &__link:hover {
        background-color: orange;

        @include r(992) {
            background-color: $accent;
        }
    }

    &__btn:active,
    &__link:active {
        background-color: #a6a183;
    }
}