.lamps {

    &__row {
        display: flex;

        @include r(1200) {
            display: block;
        }
    }

}

.lamps-card {
    display: flex;
    flex: 0 1 50%;
    margin-right: 30px;
    padding: 80px 0;
    background-color: rgba($bisque, 0.4);

    @include r(1200) {
        margin: 0 0 30px;
        align-items: center;
    }

    @include r(575) {
        display: block;
    }

    &:last-child {
        margin-right: 0;
    }

    &__img {
        max-width: 235px;
        max-height: 405px;
        margin-left: auto;
        margin-top: -20%;

        @include r(1200) {
            margin-top: 0;
        }

        @include r(575) {
            max-width: 200px;
            max-height: 350px;
            margin: 0 auto 20px;
        }
    }

    &__picture {
        object-fit: cover;
    }

    &__content {
        max-width: 350px;
        padding-right: 10px;
        margin-right: auto;
        color: $text;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__lead {
        margin-bottom: 20px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        @include line-clamp;
    }

    &__descr {
        flex-grow: 1;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.9;
        @include line-clamp;
        -webkit-line-clamp: 4;
    }

    &__btn {
        max-width: 180px;
        border: 1px solid rgba(#b3b7b5, 0.4);
        border-radius: 5px;
        color: $secondary-link;
        transition: box-shadow 0.5s ease;
        background-color: inherit;

        &:before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-lamp.svg');
            width: 22px;
            height: 9px;
            top: 50%;
            right: 19px;
            transform: translateY(-50%);
        }

        span {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: auto;
                top: 0;
                height: 0%;
                width: 100%;
                background: $secondary-link;
                z-index: -1;
                transition: background-color 0.3s ease;

                @include r(992) {
                    background-color: transparent;
                }
            }

        }

        &:hover {
            color: #fff;
            box-shadow: 0 0 10px 2px rgba(#000, 0.5);
            background-color: inherit;

            @include r(992) {
                box-shadow: none;
                color: $secondary-link;
            }

            span {
                &:before {
                    content: '';
                    height: 100%;
                    bottom: 0;
                }
            }
        }

        &:active {
            box-shadow: 0 0 0 30px $accent inset;
            position: relative;
            top: 1px;
        }
    }

}