.main-slider {
    padding-top: 145px;

    @include r(1200) {
        padding-top: 90px;
    }

    &__item {
        position: relative;
        min-height: 820px;
        background-color: $bisque;

        @include r(1200) {
            min-height: 520px;
        }

        &:before {
            content: "";
            position: absolute;
            max-width: 634px;
            max-height: 634px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-image: linear-gradient(90deg, rgb(252, 215, 182) 10%, rgb(255, 255, 255) 100%);
            right: 10%;
            top: 12%;
            z-index: 0;

            @include r(1600) {
                right: 1%;
            }

            @include r(1200) {
                top: 2%;
                max-width: 500px;
                max-height: 500px;
            }

            @include r(1024) {
                display: none;
            }
        }

    }

    &__inner {
        padding-top: 18%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include r(1200) {
            padding-top: 5%;
        }

        @include r(1024) {
            display: block;
        }
    }

    &__content {
        max-width: 430px;
        z-index: 1;

        @include r(1024) {
            display: block;
            max-width: 100%;
            margin-bottom: 40px;
        }

    }

    &__heading {
        display: block;
        margin-bottom: 10px;
        font-size: 72px;
        line-height: 1.1;
        color: $text;
        text-transform: uppercase;
        @include line-clamp;

        @include r(1024) {
            font-size: 56px;
        }

        @include r(768) {
            font-size: 46px;
        }

        @include r(575) {
            font-size: 40px;
        }
    }

    &__text {
        max-width: 365px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
        @include line-clamp;
        -webkit-line-clamp: 4;

        @include r(768) {
            max-width: 100%;
            margin-bottom: 25px;
        }
    }

    &__btn {
        position: relative;
        display: block;
        max-width: 200px;
        padding: 20px 20px 19px 25px;
        font-weight: 400;
        font-size: 15px;
        color: #fff;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 19px;
            transform: translateY(-50%);
            background-image: url("../images/icons/arrow.svg");
            width: 22px;
            height: 9px;
        }

    }

    &__furniture {
        position: relative;
        z-index: 2;
        max-width: 640px;
        max-height: 264px;

        @include r(1024) {
            max-width: 100%;
            max-height: 264px;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__img {
        object-fit: contain;
    }

    .slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 45px;
        transform: translate(-50%);
    }

    .slick-dots li:not(:last-child) {
        margin-right: 11px;
    }

    .slick-dots li button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 11px;
        border: none;
        border-radius: 50%;
        outline: transparent;
        cursor: pointer;
        background-color: rgba(#fff, 0.3);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $orange;
        }
    }

    .slick-dots .slick-active button {
        background-color: #fff;
    }
}