.news {
    position: relative;
    z-index: 2;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 50px;

        @include r(767) {
            display: block;
            margin-bottom: 35px;
        }
    }

    &__title {
        text-align: left;

        @include r(767) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: inline-block;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        font-size: 16px;
        position: relative;
        overflow: hidden;

        span {
            padding-left: 10px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $accent;
            transition: width 0.3s ease;
        }

        &:link {
            color: $card-text;
        }

        &:visited {
            color: $red;
        }

        &:hover:after {
            width: 100%;

            @include r(992) {
                width: 0;
            }
        }

        &:active {
            color: $second;
        }

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @include r(992) {
            justify-content: center;
            margin: 0 -10px;
        }
    }

    &__item {
        display: flex;
        padding: 0 15px;
        flex: 0 1 33.333%;
        border-radius: 5px 5px 0 0;
        justify-content: center;

        @include r(992) {
            flex: 0 1 50%;
            margin-bottom: 30px;
            padding: 0 10px;
        }

        @include r(575) {
            flex: 1 1 100%;
        }
    }

}

.news-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

    @include r(992) {
        box-shadow: 0 0 10px 0 rgba(#000, 0.5);
    }

    &__image {
        position: relative;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;

            @include r(992) {
                opacity: none;
            }
        }
    }

    &__picture {
        width: 370px;
        height: 250px;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    &__category {
        position: absolute;
        left: 11%;
        bottom: -5%;
        z-index: 2;
        transform: translate(-11%, 5%);
        padding: 6px 32px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 25px;
        text-transform: uppercase;
        background-color: $accent;
        color: #fff;
    }

    &__heading {
        flex-grow: 1;
        margin: 0 30px 10px;
        padding: 32px 15px 15px 5px;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        line-height: 1.2;
        color: $card-text;
        border-bottom: 1px solid #e0e0e0;


        @include r(1200) {
            margin: 0 15px 10px;
            padding-right: 10px;
        }

        @include r(575) {
            padding: 30px 10px 15px;
        }

        span {
            @include line-clamp;
            -webkit-line-clamp: 4;
        }

    }

    &__post {
        padding: 0 0 20px 33px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2.5;
        text-transform: uppercase;

        @include r(1200) {
            padding: 0 0 20px 20px;
        }

        span {
            @include r(767) {
                display: block;
            }

            @include r(575) {
                display: inline-block;
            }
        }
    }

    &__data {
        margin-right: 30px;

        @include r(575) {
            margin-right: 15px;
        }
    }

    &__icon {
        margin-right: 10px;
    }

}