.products-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 115px;

    @include r(1200) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include r(992) {
        margin-bottom: 90px;
    }

    @include r(767) {
        gap: 40px 15px;
    }
}