.product-card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    padding: 30px 15px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    @include r(575) {
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0 0 10px 3px rgba(37, 37, 37, 0.2);
    }

    &:hover {
        .product-card__link-box {
            opacity: 1;
        }
    }


    &__link-box {
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        opacity: 0;
        transition: opacity 1s ease;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__image {
        width: 270px;
        height: 206px;
        margin-bottom: 46px;
    }

    &__picture {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    &__name {
        margin-bottom: 10px;
        padding: 0 15px;
        font-family: "DMSans", sans-serif;
        font-weight: 500;
        text-align: center;
        color: $text;
        @include line-clamp;
    }

    &__price {
        padding: 0 15px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        color: $accent;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(#000, 0.5);

        &:hover {
            background-color: $accent;
            transition: fill 0.3s ease;

            .product-card__icon {
                fill: #fff;
            }
        }

        &:focus {
            .product-card__icon {
                fill: $red;
            }
        }

        &:active {
            .product-card__icon {
                fill: $bisque;
            }
        }

    }

    &__icon {
        fill: $accent;
    }
}