.products {
    padding: 65px 0 90px;

    &__title {
        margin-bottom: 20px;
    }

    &__btns {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__btn-item:not(:last-child) {
        margin-right: 35px;
    }

    &__btn {
        border: none;
        background-color: transparent;
        outline: transparent;
        cursor: pointer;
        color: #8b8b8b;
        padding: 0;
        transition: color 0.3s ease;

        &:hover {
            color: $title;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap: 40px 30px;
        justify-content: center;
        margin-bottom: 190px;

        @include r(1200) {
            grid-template-columns: repeat(3, 270px);
        }

        @include r(992) {
            grid-template-columns: repeat(2, 270px);
            gap: 40px 15px;
            margin-bottom: 100px;
        }

        @include r(575) {
            display: block;
        }
    }

    &__item {
        @include r(575) {
            margin-bottom: 30px;
        }
    }

}