.team {
    margin-bottom: 70px;

    @include r(575) {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        overflow: hidden;

        @include r(1200) {
            display: block;
        }
    }

    &__content {
        max-width: 320px;
        margin-right: 80px;

        @include r(1200) {
            max-width: 100%;
            margin: 0 0 25px;
        }
    }

    &__title {
        text-align: left;
        margin-bottom: 25px;
    }

    &__text {
        line-height: 1.9;
        margin-bottom: 30px;
        font-weight: 400;
    }

    &__btn {
        max-width: 170px;
        padding: 15px 25px 15px 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        border-radius: 5px;

        &:before {
            content: '';
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/icons/arrow-team.svg');
            width: 15px;
            height: 11px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;

        @include r(575) {
            display: block;
        }
    }

    &__item {
        padding: 0 15px;
        display: flex;
        margin-bottom: 100px;
        flex: 0 1 50%;

        @include r(1200) {
            flex: 0 1 33.333%;
        }

        @include r(992) {
            flex: 0 1 50%;
            justify-content: center;
        }

        @include r(575) {
            flex: 1 1 100%;
        }

    }

    &__block {
        position: relative;
    }

    &__picture {
        width: 370px;
        height: 320px;
        object-fit: cover;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;

            @include r(992) {
                opacity: 1;
            }
        }

    }

    &__box {
        position: absolute;
        bottom: -20%;
        left: 0;
        z-index: 1;
        max-width: 325px;
        width: 100%;
        padding: 25px 0 25px 25px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

        @include r(767) {
            max-width: 100%;
            padding: 10px 10px 15px 15px;
        }
    }

    &__face {
        max-width: 160px;

        @include r(767) {
            max-width: 100%;
        }
    }

    &__name {
        margin-bottom: 5px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        color: $secondary-link;
        @include line-clamp;
        -webkit-line-clamp: 1;
    }

    &__descr {
        font-weight: 400;
        line-height: 1.9;
        color: #565872;
        @include line-clamp;
    }

    &__social-list {
        position: absolute;
        right: -7%;
        top: 30%;
        transform: translate(-50%);
        display: flex;
        fill: #888;

        @include r(767) {
            position: static;
            transform: translate(0%);
        }
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6f6f6;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border-radius: 50%;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            .team__icon {
                fill: $orange;
            }
        }

        &:active {
            .team__icon {
                fill: $red;
            }
        }
    }

    &__icon {
        display: flex;
        align-content: center;
        justify-content: center;
        fill: #888;
        transition: fill 0.3s ease;
    }

}