.video {
    position: relative;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;

    &:before,
    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 100px;
        height: 100px;
        background-color: $accent;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    &:hover:before {
        background-color: $orange;
    }

    &:active:before {
        transform: scale(0.9);
    }

    &:after {
        z-index: 1;
        width: 127px;
        height: 127px;
        background-color: rgba($accent, 0.4);
    }

    &__icon {
        z-index: 3;
        fill: #fff;
    }

    &__link {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
}